h1{
    border: 3px solid blue;
    margin-right: 1200px;
    padding-left: 12px;
    background-color: pink;
}
p{
    border: 2px dashed red;
    border-bottom: 2px dotted rgb(12, 184, 6);
    border-left: 2px ridge purple;
}
h2{
    border: 2px inset brown;
}
.h1{
    border: 2px outset greenyellow;
    border-radius: 6px;
    padding: 10px;
    margin-right: 1170px;
}
